
.btn-del {
    background-color: #fff;
    color: #fa2c5a;
    border: 1px solid #fa2c5a;
    font-size: 14px;
}

.btn-up {
    background-color: #5cb85f;
    border: 1px solid #5cb85f;
    font-size: 14px;
}